/* .box1 {
  background-color: lightgrey;
  width: 90%;
  border: 15px solid #122634;
  padding: 50px;
  margin: 20px;
  height: 100%;
} */
body{
  background-color: #122634;;
}
#home{
    background-image: url(images/finanp.jpeg); 
     background-size:100%;
     background-repeat: no-repeat;
     height: 100vh;
     width: 98vw;
     opacity: 100%;
     
    
     
}




 .topnav{
   
    padding-top: 30px;
        padding-left: 50%;
        margin-top: 30px;
        margin: 0;
        display: block;
        float:left right;
        font-size: 24PX;
    }
    
     nav  ol {
      display: inline;
      padding-left: 60px;
      text-emphasis:right;
    } 
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      top: 100px;
      overflow: hidden;
    }
    li {
      float: right;
    }
    li a {
      display: block;
      color:white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 24px;
      font-weight: bold;
      }
   
    li a:hover {
      background-color:#122634;;
      
      ; 
      color:black;
     
      width: 300px;
      height: 150px;
      margin: 20px auto;
      transition: 500ms linear; 
      
      
    }
    .name{
      text-align: center;
      margin-bottom: 5px;
       padding-top: 150px; 
      color:black;
      
      
    }
    .work{
      text-align: center;
      margin-bottom: 50%;
       padding-bottom: 50%; 
      color:black;
      font-family: 'Fjalla One', sans-serif;
      font-size: 18px;
      
      
      
    }
    .abt{
     background-color: rgb(217, 224, 224);

    }
    #about{
      background-color: #fff;
    }
    .section1{
    background: #122634;;
  
    
    position: relative;
    }
    .ABOUT{
      text-align: center;
    }
    .pic{
      display: block;
      margin-left: 40px;
      margin-right: auto;
      width: 50%;
      padding-bottom: 50px;
      
     
    }
    .picture{
      display: flex;
      justify-content: space-evenly;
      
    }
    .paragraph{
      margin-right: auto;
      margin-right: 150px;
      font-size: 24px;
    }
    #project{
      background-color: white;
      text-align: center;
    }
    .section2{
      background: #122634;;

    }
    .CARDS{
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;

    }
    
    .section3{
      background: #122634;;

  
    }
    #contact{
      background-color: white;
      text-align: center;
    }
    header{
      float: right;
      text-align: center;
      padding-right: 500px;
    }
    .fa-linkedin {
      background: #007bb5;
      color: white;
    }
    .fa-twitter {
      background: #55ACEE;
      color: white;
      
    }.fa-facebook {
      background: #3B5998;
      color: white;
      font-size: 200px;
    }
    .icons{
      text-align: center;
      font-size: larger;
      margin-top: 2%;
    }
    .a{
      font-size: 200px;
    }
    
    